<header>
  <nav>


    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Главная страница</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/about">Страница про нас</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/employee">Сотрудники</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/role">Роли</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/region">Регионы</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <body>

    </body>

    <!-- <a href="/">главная</a>
            <a href="/about">про нас</a>
            <a href="/employee">сотрудники</a>
            <a href="/role">роли</a>
    </nav>
    <form method="post" action="/add_user">
        <input type="text" name="username" placeholder='имя пользователя'>
        <button type="submit">поиск</button> -->
    </form>
</header>