<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ошибка</title>
    <style>
        body {
            color: #fff;
            background: #333;
            text-align: center;
            padding-top: 100px;
        }
    </style>
</head>
<body>
    <h1>Ошибка</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At perspiciatis aspernatur vel est saepe voluptatem quaerat officia ipsum ipsam commodi! Accusantium pariatur dolorem quasi commodi facere impedit numquam vel esse.</p>
<a href="/about">Про нас</a>
</body>
</html>